* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1f68ac;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

header h1 {
    font-size: 24px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: yellow;
}

section {
    width: 960px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
}

section h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

section p {
    font-size: 16px;
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    font-size: 14px;
    margin-bottom: 5px;
}

form input, form textarea {
    font-size: 14px;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
}

form button {
    font-size: 14px;
    padding: 5px;
    border: none;
    background-color: #1f68ac;
    color: white;
    cursor: pointer;
}

form button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

footer {
    background-color: #1f68ac;
    color: white;
    padding: 22px;
    text-align: center;
}
